In [2]:
print("Hello Python")

Hello Python

In [6]:
student="ali"

In [30]:
student

'Hamza'

In [ ]:
#Data Types in python

In [10]:
#String 
student="Hamza"

In [11]:
student

'Hamza'

In [13]:
type(student)

str

In [15]:
#integer
a=10
a

10

In [16]:
type(a)

int

In [17]:
#float
a=3.14
a

3.14

In [18]:
type(a)

float

In [20]:
#This is also a string
a="This is python programme"
a

'This is python programme'

In [22]:
type(a)

str

In [24]:
#Boolean 
a=True
a

True

In [25]:
type(a)

bool

In [26]:
a="hello world"
a

'hello world'

In [27]:
type(a)

str

In [28]:
#Complex
a=3+5j
a

(3+5j)

In [29]:
type(a)

complex

In [31]:
#Airthematic Operators
#+,-,/,*

In [32]:
a=10
b=20
a,b

(10, 20)

In [33]:
a+b

30

In [34]:
a*b

200

In [35]:
a/b

0.5

In [36]:
#Relaional operators

In [37]:
# <,>,==,!=

In [38]:
a=50
b=100
a>b

False

In [39]:
a<b

True

In [40]:
a==b

False

In [41]:
a!=b

True

In [42]:
#Logical operators
#& |

In [43]:
a=True
b=False

In [44]:
a&b

False

In [45]:
b&a

False

In [46]:
a|b

True

In [47]:
b|a

True

In [48]:
a|a

True

In [49]:
b|b

False

In [51]:
student="umar"
student

'umar'

In [53]:
Student="julia"
Student

'julia'

In [54]:
# what are Litrals?
#Litrals are those data which are not change
#Example student="Hello World"

In [55]:
#Python strings
#Strings are sequence of Characters enclosed within single quotes(''),double quotes("") or triple quotes("''")
#Triple quotes we use Muktiline comments

In [56]:
str1='This is single quotes string'
str1

'This is my first string'

In [57]:
str2='This is double quotes string'
str2

'This is double quotes string'

In [58]:
str3='''
This is triple quotes string and 
has take lot of lines in it
'''
str3

'\nThis is triple quotes string and \nhas take lot of lines in it\n'

In [59]:
#Extracting individual Characters in string using Indexes
i="My name is Ramzan"
i[0]

'M'

In [60]:
i[-1]

'n'

In [61]:
i[3]

'n'

In [62]:
i[2]

' '

In [63]:
i[3:10]

'name is'

In [66]:
#String Functins
 # 1 Finding the Length of string
len(i)

17

In [68]:
#Converting String to Lowe Case
i.upper()

'MY NAME IS RAMZAN'

In [69]:
i.lower()

'my name is ramzan'

In [71]:
 #Replacing a substring
  #Takes two parameters
i.replace('y','a')

'Ma name is Ramzan'

In [ ]:
 #Counting the Number of occurence in substring

In [73]:
t="hello hello World"
t.count("hello")

2

In [76]:
#Finding the index of substring we use find function
t.find("World")

12

In [78]:
#Spliting a String 
fruit="I like apples,mangoes,bnanas"
fruit.split('e')

['I lik', ' appl', 's,mango', 's,bnanas']

In [79]:
type(fruit)

str

In [80]:
#Data structures in Python 
#List, Tuple,Set,Dictionary

In [81]:
#Tuple
#Tuple is an orderd collections of elements enclosed()
#Tuples are used to store multiple items in a single variable.

#Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

#A tuple is a collection which is ordered and unchangeable.

#Tuples are written with round brackets().

In [87]:
 tup1=(1,True,4,"hello",3.14,4-7j)
tup1

(1, True, 4, 'hello', 3.14, (4-7j))

In [88]:
type(tup1)

tuple

In [89]:
#Extrcting the tuple is same as string

In [ ]:
#Basic Tuple operation and functions

In [92]:
  #Finding the length of Tuple
len(tup1)

6

In [93]:
#Concation of Tuple
tup2=(4,5,6)
tup1,tup2

((1, True, 4, 'hello', 3.14, (4-7j)), (4, 5, 6))

In [94]:
tup1+tup2

(1, True, 4, 'hello', 3.14, (4-7j), 4, 5, 6)

In [95]:
tup2+tup1

(4, 5, 6, 1, True, 4, 'hello', 3.14, (4-7j))

In [96]:
tup2*3

(4, 5, 6, 4, 5, 6, 4, 5, 6)

In [98]:
#Min and Max Functions in Tuple
tup3=(12,44,55)
min(tup3)

12

In [99]:
max(tup3)

55

In [100]:
#List Data structure in python
#Lists are used to store multiple items in a single variable.

#Lists is an ordered collection of elements enclosed within[].

#Lists are created using square brackets:
#Lis is mutable

In [3]:
list1=[1,"hello",5.6]
list1

[1, 'hello', 5.6]

In [4]:
list1[1]="world"
list1

[1, 'world', 5.6]

In [9]:

list1[-1]

5.6